*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, nav{
    text-decoration: none;
    color:rgb(5, 37, 75)
}
    /* index */


ul { 
    list-style: none;
    
}


.body-index {
    color: rgb(5, 37, 75);
    margin-inline: 1rem;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0rem 1rem;
    background-color: rgb(255, 255, 255);
}

/*.menu{
    display: flex;
    gap: 1.5rem;
    margin-right: 1rem;
    font-size: 1.15rem;

}

.menu-item:hover{
    background-color:rgb(5, 37, 75); 
    border-radius: 12px;
    padding: 3px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.menu-item.active {
    text-decoration: underline;/*
}

/*.menu-item1:hover{
    background-color: rgb(5, 37, 75);
    backr
}*/


.logo  {
    /* margin-left: auto;
    margin-right: auto; */
    width: 200px;
    
}

/* MAIN  */
.hero{
    background-color: rgb(5, 37, 75);
    color: white;
    display: flex;
    padding: 2rem;
    gap: 1.5rem;
    align-items: center;
    border:dashed 5px;
}

.hero-img{
    width: 200px;
    border-radius: 150rem;
    flex: 1;
    
}


.hero-left{
    text-align: justify;
    flex: 1;
}

.hero-right { 
    text-align: justify;
    flex: 1;
}

.hero-btn {
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 0.25rem;
    text-align: right;
    display: flex;
    background-color: #ffffff;
    margin-top: 8rem;
    }

.hero-title{
    padding-bottom: 1rem ;
    padding-left: 0.45rem;
}

/* MAIN SECTION HISTORIA */

.historia{
    padding-top: 0rem;
    color:rgb(5, 37, 75);
    background-color: rgb(155, 227, 255);
    text-align: justify;
    padding: 2rem;
}

.title{
    text-align: center;
    padding-bottom: 2rem;
    text-decoration: underline;
    padding-top: 1rem;
}

/*MAIN SECCION NOVEDADES*/



/* PESCADOS  */
.pescados-frescos {
    margin-inline: 2rem;
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    text-align: justify;

}

.img-pescados1{
    width: 400px;
    border: solid 7px;
    
}

.img-pescados2 {
    width: 400px;

    border: solid 7px;
    
}

.contenedor-grilla { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "1 2"
    "3 4";
    
    


    align-items: center;
    justify-items: center;

    align-content: space-evenly;
    justify-content: center ;

    column-gap: 3px;

    align-content: space-evenly;
    justify-content: center ; 
}

.imagen1 {
    grid-template-areas: 1;
    /* grid-row: ; */
    }
.imagen2 {
    grid-template-areas: 2;
    }
.imagen3 {
    grid-template-areas: 3;
    }
.imagen4 {
    grid-template-areas: 4;
    }

.grillaimagenes {
    border: 1px solid blue;
    margin: 10px;
    border-radius: 10px;
    width: 350px;
}

.imagen1:hover,.imagen2:hover,.imagen3:hover,.imagen4:hover {
    transform: scale(1.02);
    box-shadow: 0.5px 0.5px 20px rgb(64, 76, 245);
    transition: all 100ms ease;
}


/* MARISCOS */


.mariscos-congelados {
    margin-inline: 2rem;
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}

.img-mariscos1{
    width: 400px;
    border: solid 7px;
}

.img-mariscos2{
    width: 400px;
    border: solid 7px;
}

/* FOOTER */

footer{
    padding-top: 1rem;
    margin: 1.5rem;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.footer-redes{
    display: flex;
    gap: 1rem;
    
}

/* CONTACTO HTML */ 
.form{
    gap: 1rem;
    padding: 1rem;
    justify-content:unset;
}


 /* COMIDAS */
.main-comidas{
    text-align: center;


}


@media screen and (max-width: 800px){
    .hero-left{
        display: none ;
    }
}
@media screen and (max-width: 710px){
    .hero-title-h4{
        display: none;
    }
    .contenedor-grilla{
        grid-template-columns:1fr;
        grid-template-rows: 4fr;
        grid-template-areas: 
        "1"
        "2"
        "3"
        "4";
    }
}
