.historia{
    padding-top: 0rem;
    color:rgb(5, 37, 75);
    background-color: $maincolor;
    text-align: justify;
    padding: 2rem;

    .title{
        text-align: center;
        padding-bottom: 2rem;
        text-decoration: underline;
        padding-top: 1rem;
    }
}
